:root {
  color: #213547;
  background-color: #ffffff;

}

input,
textarea {
  background-color: #ffffff;

  color: #000000;

  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #646cff;

  color: #fff;

}

button:hover {
  background-color: #535bf2;
}

.card {
  background: #333;

  color: white;

  padding: 20px;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {

  input,
  textarea {
    background-color: #444;

    color: #fff;

  }
}